shamefully-hoist=true
strict-peer-dependencies=false
registry=https://registry.npmjs.org/ 

engine-strict=true
registry=https://npm.mitradetech.com/
email=frontend@yuanqu-tech.com
git-checks=false
//npm.mitradetech.com/:_auth="ZnJvbnRlbmQ6UHgyOGM3Z1NkZw=="